:root {
    --azul_oscuro: #001860;
    --azul_claro: #003e9b;
    --gris_claro: #d7d2d2;
    --gris_oscuro: #838F95;
}

.animate__fadeInLeft{
    --animate-duration: 1.8s;
}
.animate__fadeInRight{
    --animate-duration : 1.3s
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: sticky;
    top: 0;
    z-index: 9999;
}

body{
    overflow-x: hidden;
}


header {
    overflow-x: hidden;
    z-index: 9999;
    top: 0;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: rgb(243, 243, 243);
}



.logo {
    width: 64.18px;
    height: 67.27px;
}

.bi-list {
    font-size: 2.5rem;
}

.nav {
    transition: all 200ms ease-in-out;
}

.nav-list {
    display: flex;
    list-style-type: none;
    gap: 4rem;
    margin: 0;
}



.nav-list li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.nav-list li a {
    letter-spacing: 3px;
    text-decoration: none;
    color: rgb(22, 22, 22);
    font-size: 19px;
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;
}

.nav-list li a {
    position: relative;
}

.nav-list li a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--azul_claro);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.6s ease-in-out;
}

.nav-list li a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}



.abrir_menu,
.cerrar_menu {
    display: none;
    background-color: transparent;
}

/* ---- FIN DE HEADER ---- */




/* ---- INICIO DE CARRUSEL ---- */

.carousel-item img {
    width: 100%;
    height: 89.8vh;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    text-align: start;
}


.tittle {
    letter-spacing: 11px;
    font-size: 70px;
    color: white;
    font-weight: bolder;
}

.text_tittle {
    width: 70%;
    margin-top: 2rem;
    letter-spacing: 4px;
    font-size: 30px;
    color: white;
    font-weight: lighter;
}

.button_principal {
    border: none;
    width: 10rem;
    height: 3rem;
    border-radius: 25px;
    background-color: var(--azul_oscuro);
    transition: all 250ms ease-in-out;
    margin-right: 2rem;
    margin-bottom: 1rem;
    color: white;
    font-weight: light;
}

.button_principal:hover {
    background-color: rgb(23, 23, 174);
}

.button_carrousel_blue {
    text-decoration: none;
}

.button_secundario {
    border: none;
    width: 10rem;
    height: 3rem;
    border-radius: 25px;
    background-color: var(--gris_claro);
    color: var(--azul_oscuro);
    transition: all 250ms ease-in-out;
    font-weight: light;
}

.button_secundario:hover {
    background-color: rgb(255, 255, 255);

}

.button_carrousel_grey {
    text-decoration: none;
}



/* ---- FIN DE CARRUSEL ---- */

/* SECCION DIFERENCIA */

#Diferencia {
    height: 70vh;
    scroll-margin-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5rem 0rem;
    background-image: linear-gradient(0deg,
            hsl(0deg 0% 100%) 0%,
            hsl(344deg 0% 99%) 11%,
            hsl(344deg 0% 97%) 22%,
            hsl(344deg 0% 96%) 33%,
            hsl(344deg 0% 94%) 44%,
            hsl(344deg 0% 93%) 56%,
            hsl(344deg 0% 91%) 67%,
            hsl(344deg 0% 90%) 78%,
            hsl(344deg 0% 88%) 89%,
            hsl(0deg 0% 87%) 100%);
}

.texto_diferencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100%;
    padding-right: 3rem;
}

.texto_diferencia h4 {
    letter-spacing: 5px;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    color: var(--azul_oscuro);
}

.texto_diferencia p {
    text-align: start;
    padding: 1rem 1.3rem;
    font-size: 22px;
    font-weight: 300;
}

.container_imagen_diferencia {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_imagen_diferencia img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 4px;
    box-shadow: 0px 0px 24px -12px rgba(66, 68, 90, 1);
}

/* ----FIN SECCION DIFERENCIA----- */



/* -----SECCION NOSOTROS! ----*/

#nosotros {
    scroll-margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gris_claro);
}

.container_nosotros {
    padding: 3rem 0rem;
    width: 100%;
    display: flex;
    flex-wrap: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.container_nosotros img {
    width: 100%;
    border-radius: 5px;
}

.slider-frame{
    width: 460px;
    overflow: hidden;
}

.slider-frame-ul{
    display: flex;
    padding: 0;
    width: 200%;
    animation: slide 8s infinite ease-in-out;
}

.slider-frame-li{
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-frame-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide{
    0% {margin-left: 0%;}
    40% {margin-left: 0%;}

    55% {margin-left: -100%;}
    85% {margin-left: -100%;}
}

.container_tittle {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 3rem;
}

.container_tittle h1 {
    letter-spacing: 5px;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    margin: 2rem 0rem;
    color: var(--azul_oscuro);
}

.container_tittle p {
    text-align: start;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 22px;
    font-weight: 300;
}

.button_servicios {
    border: none;
    width: 10rem;
    height: 3rem;
    border-radius: 25px;
    background-color: var(--azul_oscuro);
    color: var(--gris_claro);
    transition: all 250ms ease-in-out;
    font-weight: light;
    margin: 1rem 0rem;
}

.ancla_servicios {
    text-decoration: none;
}

.button_servicios:hover {
    background-color: var(--gris_oscuro);
    color: var(--azul_claro);
}

/* ----FIN SECCION NOSOTROS!---- */

/* ----SERVICIOS!----- */

#servicios {
    background-image: linear-gradient(180deg,
            hsl(0deg 0% 100%) 0%,
            hsl(344deg 0% 99%) 11%,
            hsl(344deg 0% 97%) 22%,
            hsl(344deg 0% 96%) 33%,
            hsl(344deg 0% 94%) 44%,
            hsl(344deg 0% 93%) 56%,
            hsl(344deg 0% 91%) 67%,
            hsl(344deg 0% 90%) 78%,
            hsl(344deg 0% 88%) 89%,
            hsl(0deg 0% 87%) 100%);
    margin-top: 80px;
    padding: 2rem 0rem;
    scroll-margin-top: 150px;
}

.row {
    margin: 0;
    padding: 0;
}

.servicios h4 {
    letter-spacing: 3px;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    color: var(--azul_oscuro);
}

.columna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 33vh;
}

.imagen_servicios {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen_servicios img {
    width: 70px;
    height: 70px;
}

.texto_servicios {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto_servicios h5 {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto_servicios p {
    height: 50%;
}

.imagen_servicios_main {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen_servicios_main img {
    width: 70px;
}

.texto_servicios_main {
    padding: 0 100px;
    height: 100%;
}

.texto_servicios_main h5 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto_servicios_main p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.button_servicios_main{
    margin: 20px 0px;
}

.button_servicios_main button {
    background-color: var(--azul_oscuro);
    color: var(--gris_claro);
    padding: 10px;
    border-radius: 25px;
    margin: 16px 0px;
    border: none;
    width: 150px;
    transition: all 250ms ease-in-out;
}

.button_servicios_main button:hover {
    background-color: var(--gris_claro);
    color: var(--azul_oscuro);
}

.section_servicios_all {
    margin: 100px 0px;
}

h5 {
    font-weight: 600;
}

.divisor {
    height: 160px;
}

.columna_main {
    margin-top: 40px;
    margin-bottom: 70px;
}

.row_main {
    margin: 20px 0px;
}

/*----- FIN SERVICIOS---- */

/* MASCOTAS */
#mascotas {
    scroll-margin-top: 160px;
    background-image: linear-gradient(0deg, hsl(0deg 0% 100%) 0%, hsl(344deg 0% 99%) 11%, hsl(344deg 0% 97%) 22%, hsl(344deg 0% 96%) 33%, hsl(344deg 0% 95%) 44%, hsl(344deg 0% 93%) 56%, hsl(344deg 0% 92%) 67%, hsl(344deg 0% 90%) 78%, hsl(344deg 0% 89%) 89%, hsl(0deg 0% 88%) 100%);
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}

.imagen_mascotas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen_mascotas img {
    max-width: 100%;
    min-height: 100%;
    box-shadow: 0px 0px 24px -12px rgba(66, 68, 90, 1);
    border-radius: 5px;
}

.texto_mascotas {
    line-height: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 550px;
    text-align: center;
}

.texto_mascotas h4 {
    color: var(--azul_oscuro);
    font-weight: 600;
}

.texto_mascotas p {
    font-weight: 300;
    font-size: 18px;
}

.texto_mascotas button {
    border-radius: 30px;
    padding: 13px 35px;
    border: none;
    background-color: var(--azul_oscuro);
    color: var(--gris_claro);
    transition: all 250ms ease-in-out;
}

.texto_mascotas button:hover {
    background-color: var(--gris_claro);
    color: var(--azul_oscuro);
}

/* FIN DE MASCOTAS */


/* MUDANZAS */
#mudanzas {
    background-image: linear-gradient(180deg,
            hsl(0deg 0% 100%) 0%,
            hsl(344deg 0% 99%) 11%,
            hsl(344deg 0% 97%) 22%,
            hsl(344deg 0% 96%) 33%,
            hsl(344deg 0% 94%) 44%,
            hsl(344deg 0% 93%) 56%,
            hsl(344deg 0% 91%) 67%,
            hsl(344deg 0% 90%) 78%,
            hsl(344deg 0% 88%) 89%,
            hsl(0deg 0% 87%) 100%);
    background-color: blue;
    scroll-margin-top: 150px;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}

.imagen_mudanzas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen_mudanzas img {
    min-width: 100%;
    min-height: 100%;
    box-shadow: 0px 0px 24px -12px rgba(66, 68, 90, 1);
    border-radius: 5px;
}

.texto_mudanzas {
    line-height: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 550px;
    text-align: center;
}

.texto_mudanzas h4 {
    color: var(--azul_oscuro);
    font-weight: 600;
}

.texto_mudanzas p {
    font-weight: 300;
    font-size: 18px;
}

.texto_mudanzas button {
    border-radius: 30px;
    padding: 13px 35px;
    border: none;
    background-color: var(--azul_oscuro);
    color: var(--gris_claro);
    transition: all 250ms ease-in-out;
}

.texto_mudanzas button:hover {
    background-color: var(--gris_claro);
    color: var(--azul_oscuro);
}

/* FIN DE MUDANZAS */

/* CONTACTO */
#contacto {
    scroll-margin-top: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 33vh;
    background-color: var(--gris_claro);
}

.container_icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container_icons p {
    font-size: 35px;
    font-weight: 300;
}

.columna_icons {
    display: flex;
    gap: 70px;
}

.bg-icon {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: all 150ms ease-in-out;
}

.bg-icon a {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.bg-icon img {
    width: 40px;
    margin-bottom: 10px;
}

.bg-icon span {
    color: black;
}

.bg-icon:hover {
    transform: scale(1.04);
}

/* FIN DE CONTACTO */

/* FOOTER */

footer{
    padding: 5rem 0rem;
    background-color: rgb(0, 0, 56);
}
.seccion_links{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.seccion_links ul{
    
    list-style: none;
    padding: 0;
}
.seccion_links ul li{
    margin: 15px 0px;
}
.seccion_links ul li a{
   text-decoration: none;
   color: white;
   transition: all 250ms ease-in-out;
}
.seccion_links ul li a:hover{
    text-decoration: none;
    color: var(--gris_oscuro);
 }

.seccion_soporte{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.seccion_soporte ul{
    
    list-style: none;
    padding: 0;
}
.seccion_soporte ul li{
    margin: 15px 0px;
}
.seccion_soporte ul li p{
   text-decoration: none;
   color: white;
}
.container_direccion{
    display: flex;
    align-items: center;
    justify-content: center;
}
.direccion{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

/* FIN DE FOOTER */

/* MEDIA QUERYS */

@media (max-width:1200px) {
    .container_nosotros {
        padding: 3rem 0rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container_nosotros img {
        width: 60vw;
        max-height: 375px;
        object-fit: cover;
    }

    .container_tittle {
        margin: 0;
    }

    .container_tittle p {
        line-height: 30px;
        text-align: center;
        margin: 1rem 0;
    }

    .container_tittle h1 {
        margin-top: 1rem;
    }

    .texto_diferencia h4 {
        font-size: 30px;
    }

    .texto_diferencia p {
        font-size: 20px;
    }

    .texto_servicios_main {
        padding: 0px;
    }

    #mascotas {
        scroll-margin-top: 120px;
    }

    #mudanzas {
        scroll-margin-top: 50px;
    }
}

@media (max-width:992px) {
    #ignore {
        display: none;
    }

    .carousel-item img {
        height: 65vh;
        object-fit: cover;
    }

    .carousel-caption {
        top: 50%;
    }

    .tittle {
        font-size: 45px;
        font-weight: bolder;
    }

    .text_tittle {
        font-size: 22px;
        width: 100%;
    }

    .container_nosotros img {
        width: 70vw;
        min-height: 200px;
        object-fit: cover;
    }

    #Diferencia {
        flex-direction: column;
        height: 93vh;
    }

    .text_tittle {
        font-size: 25px;
    }

    .texto_diferencia {
        width: 90%;
        margin: 40px 0px;
        padding-right: 0rem;
    }

    .texto_diferencia h4 {
        font-size: 25px;
    }

    .texto_diferencia p {
        padding: 0;
    }

    .container_imagen_diferencia img {
        width: 95vw;
        height: 250px;
        object-fit: cover;
    }

    
}

@media screen and (max-width:750px) {

    .abrir_menu,
    .cerrar_menu {
        display: block;
        border: 0;
        font-size: 1.75rem;
        cursor: pointer;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 9999;
    }

    .nav {
        width: 65%;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(243, 243, 243);
        padding: 2rem;
        gap: 4rem;
        box-shadow: 0px 0px 0px 100vmax rgba(0, 0, 0, 0.40);
        z-index: 999;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
        z-index: 999;
    }

    .nav-list {
        width: 100%;
        flex-direction: column;
        align-items: center;
        z-index: 999;
    }

    header {
        justify-content: space-between;
    }

    .container_tittle h1 {
        font-size: 27px;
    }

    .container_tittle p {
        line-height: 25px;
        font-size: 18px;
    }

}

@media (max-width:650px) {
    .carousel-item img {
        height: 65vh;
        object-fit: cover;
    }

    .tittle {
        font-size: 40px;
        font-weight: bolder;
    }

    .texto_diferencia {
        margin: 0;
    }

    .texto_diferencia p {
        font-size: 17px;
        line-height: 22px;
    }

    .button_principal {
        display: none;
    }

    .texto_diferencia h4 {
        font-size: 25px;
        margin-bottom: 1rem;
    }

    #nosotros {
        margin-top: 0px;
    }

    .columna_icons {
        flex-direction: column;
        display: flex;
        gap: 12px;
    }

    .button_secundario {
        margin-top: 15px;
    }
}

@media (max-width:470px) {
    .carousel-caption {
        top: 45%;
        width: 80%;
    }

    .carousel-item img {
        height: 55vh;
        object-fit: cover;
    }

    .tittle {
        font-size: 35px;
        font-weight: bolder;
    }

    .text_tittle {
        font-size: 19px;
        margin-top: 1rem;
    }

    .texto_diferencia h3 {
        margin: 1rem 0rem;
        font-size: 30px;
    }

    .texto_diferencia p {
        font-size: 17px;
        line-height: 22px;
    }

    .container_tittle p {
        line-height: 24px;
        font-size: 15px;
        margin: 0;
    }

    .container_nosotros img {
        width: 80vw;
        min-height: 200px;
        object-fit: cover;
    }

    .columna {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 220px;
        margin: 30px 0;
    }

    .imagen_servicios {
        height: 110px;
        width: 100%;

    }

    .texto_servicios {
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .servicios h4 {
        letter-spacing: 3px;
        font-weight: bolder;
        font-size: 30px;
        text-align: center;
        color: var(--azul_oscuro);
    }

    .columna_main {
        margin: 30px 0;
    }

    .imagen_mascotas img {
        content: url(../assets/images/mascotas_s.webp);
    }

   .imagen_mudanzas img {
        content: url(../assets/images/mudanzas_s.webp);
    } 

    .container_imagen_diferencia img {
        content: url(../assets/images/manos_s.webp);
    }
}

/* FIN DE MEDIA QUERYS */